@use "../variables";

$primary-color: variables.$primary-color-dark;
$secondary-color: variables.$secondary-color-dark;
$text-color: variables.$text-color-dark;
$background-color: variables.$background-color-dark;
