$primary: #3498db;
$secondary: #2ecc71;
$accent: #f39c12;
$text: #333;
$background: #fcfced;
$light-text: #f1f2eb;


$base-font-size: 16px;

$border-radius: 4px;


:root {
  --m: 0.5rem;
  --s: 0.25rem;
  --l: 1rem;
}


